#Loading {
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1b1b1a;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .spinner-border {
    width: 90px;
    height: 90px;
  }
}
