#TabListDetail {
  .css-1aquho2-MuiTabs-indicator {
    background-color: #a16eff;
    height: 3px;
  }
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #a16eff;
    font-size: 15px;
    font-weight: 500;
    text-transform: inherit;
    padding: 4px 8px;
  }
  .MuiButtonBase-root {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: inherit;
    padding: 4px 8px;
  }
}
